@charset "utf-8";

#header {
  position: relative;
  width: 507px;
  height: 212px;
  margin: 0 auto;
}

#article {
  width: 870px;
  margin: 0 auto;
  border-top: 2px solid #8962b9;
  border-bottom: 2px solid #8962b9;
  color: #501f2f;
}

.pl-pc #article {
  font-size: 16px;
}

#article a {
  color: #4d8afc;
}

br.clear {
  clear: both;
}

#article hr {
  border: 0;
  border-bottom: dotted 3px #f7b1ae;
  margin: 2px 0;
}

h2 {
  background-color: #f8bebb;
  border-top: solid 1px #3c2d2c;
  border-bottom: solid 1px #3c2d2c;
  border-right: solid 1px #3c2d2c;
  border-radius: 4px;
  margin: 34px 0;
  color: #aa5857;
  font-weight: bold;
}

#article h2 a {
  color: #aa5857;
}

h2 span {
  color: #ffffff;
}

.pl-pc h2 {
  font-size: 26px;
  line-height: 40px;
  border-left: solid 10px #bc5e5a;
}

.pl-pc h2 span {
  padding: 0 12px;
}

h3 {
  float: left;
  padding: 6px 0;
  color: #c65b56;
  font-weight: bold;
}

#article h3 a {
  color: #c65b56;
}

h3 span {
  background-color: #c65b56;
  border-radius: 8px;
  color: #ffffff;
}

#article hr.h3 {
  border: 0;
}

.pl-pc h3 {
  margin: 20px 8px 20px 0;
  font-size: 22px;
  line-height: 30px;
}

.pl-pc h3 span {
  margin-right: 8px;
  padding: 0 8px;
}

.pl-pc #article hr.h3 {
  padding-top: 37px;
  border-bottom: dotted 7px #f7a5a1;
}

.pl-pc .weak {
  color: #9292c2;
  font-size: 13px;
  line-height: 1.5em;
}

div.weak {
  border: solid 2px #bcbcea;
  width: 75%;
  margin: 0 10px 0 auto;
  border-radius: 0;
}

.weak h5 {
  font-size: 14px;
  line-height: 1.2em;
  background-color: #babae6;
  margin: 6px 140px 6px 0;
  text-align: left;
}

b {
  font-weight: bold;
}

i {
  font-style: normal;
  border: solid 1px #d0aed9;
  border-radius: 4px;
  background-color: #f5ebf7;
}

span.formula {
  background-color: transparent;
  padding: 0 4px;
  border-style: none;
}

figure span.formula img {
  border-style: none;
}

.pl-pc span.formula img {
  vertical-align: -14px;
  height: 36px;
}

div.block {
  border-radius: 6px;
  border: solid 2px #c6dc82;
  padding: 3px 8px;
  text-indent: 1em;
  background-color: #ffffff;
}

.pl-pc div.block {
  font-size: 15px;
  line-height: 1.8em;
  margin: 10px;
}

.pl-pc figcaption {
  font-size: 14px;
  line-height: 1.6em;
}

figure {
  text-align: center;
  margin: 20px auto;
}

h4 {
  background-color: #d0aad9;
  border-radius: 4px;
  border-left: solid 8px #ad82b8;
  border-right: solid 8px #ad82b8;
  margin: 8px 0;
  padding: 4px 6px;
  color: #ffffff;
  font-weight: bold;
}

.pl-pc h4 {
  font-size: 18px;
  line-height: 22px;
}

h5 {
  background-color: #cc9fd8;
  margin: 10px 40px;
  padding: 2px 12px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.pl-pc h5 {
  font-size: 17px;
  line-height: 1.4em;
}

figure table {
  border-collapse: collapse;
  background-color: #ffffff;
  margin: 0 auto;
}

.pl-pc figure table {
  line-height: 20px;
  font-size: 15px;
}

figure th {
  border: solid 2px #d0aed9;
  background-color: #ebcbf3;
  padding: 2px 8px;
  font-weight: bold;
}

figure td {
  border: solid 2px #d0aed9;
  padding: 2px 8px;
  text-align: left;
}

figure td.c {
  text-align: center;
}

figure img {
  border-radius: 6px;
  border: solid 2px #d0aed9;
}

figure div {
  width: 80%;
  margin: 0 auto;
  border-radius: 6px;
  border: solid 2px #d0aed9;
  padding: 4px 8px;
  text-align: left;
  background-color: #ffffff;
  line-height: 1.8em;
}

figure div ul {
  margin-left: 0;
  list-style-type: none;
}

.pl-pc figure div ul {
  font-size: 15px;
}

figure div ul li::before {
  content: "\a0";
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  margin: 4px 8px 4px 0;
}

figure div ol {
  margin-left: 0;
  list-style-type: none;
  counter-reset: num;
}

.pl-pc figure div ol {
  font-size: 18px;
}

figure div ol li::before {
  counter-increment: num;
  content: counter(num, decimal);
  display: inline-block;
  text-align: center;
  background-color: #d9b4e2;
  color: #ffffff;
  margin: 2px 10px 2px 0;
  text-indent: 0;
  border-radius: 8px;
}

.pl-pc figure div ol li::before {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

figure.file {
  width: 512px;
}

.pl-pc figure.file div {
  text-align: center;
  font-size: 18px;
}

figure.file img {
  border: 0;
}

code {
  text-align: left;
  margin: 20px auto;
}

code ol {
  border-radius: 4px;
  border: solid 2px #d0aed9;
  font-family: Consolas, "Courier New", monospace;
  list-style-type: none;
  color: #67436f;
  background-color: #ffffff;
}

.pl-pc code ol {
  font-size: 14px;
  line-height: 14px;
  margin-left: 2.3em;
}

code li {
  padding: 1px 4px;
}

code li:nth-child(even) {
  background-color: #f5eaf8;
}

code li::before {
  content: attr(data-ln);
  position: absolute;
  margin-left: -2.4em;
  color: #c5a0ce;
  background-image: none;
}

code i {
  font-style: normal;
  border: 0;
  background-color: transparent;
  color: #8fb853;
}

div.navi {
  display: table;
  table-layout: fixed;
  width: 100%;
  background-color: #ffffff;
  padding: 2px 0;
}

div.navi h1 {
  text-align: center;
  border: dotted 2px #f9b4b1;
  background-color: #f9e2e2;
  padding: 3px;
  border-radius: 8px;
  color: #a55f5e;
  font-weight: bold;
}

.pl-pc div.navi h1 {
  font-size: 22px;
}

.pl-pc div.navi h1.single {
  line-height: 52px;
}

.pl-pc div.navi h1.double {
  line-height: 26px;
}
