@charset "utf-8";

body {
  margin: 0;
  letter-spacing: 0.03em;
  background-color: #ccffff;
}

#contents {
  position: relative;
  width: 870px;
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
  border-bottom: 2px solid #8962b9;
}

a:hover {
  opacity: 0.5;
}

h1 {
  margin: 0;
  font-size: 18px;
  text-align: center;
  background-color: #aaffaa;
  border-top: 2px solid #8962b9;
  border-bottom: 2px solid #8962b9;
}

#src {
  padding: 0;
  margin: 0;
}

#log {
  padding: 0;
  margin: 0;
}

#log li {
  padding: 3px 10px;
  list-style-type: none;
  border-bottom: 1px solid #84b2e0;
}

#input,
#output {
  font-size: 1rem;
}

#execute-button {
  width: 150px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
}

#execute-button img {
  vertical-align: top;
}

button.init {
  color: #000000;
  background-color: #888888;
  border: 2px solid #333333;
}

button.enable {
  color: #000000;
  background-color: #aaffaa;
  border: 3px solid #008000;
}

button.disable {
  color: #ffffff;
  background-color: #db5671;
  border: 3px solid #a8233e;
}

.compile-error {
  position: absolute;
  z-index: 4;
  pointer-events: none;
  background-color: rgb(0 255 0);
}

img.favicon {
  width: 16px;
  height: 16px;
  margin: 0 5px;
  vertical-align: middle;
}
